
  <h2>{{artist.name}}</h1>
  <h3>List of Albums:</h2>
  <ul>
    {{#each artist.albums}}
      <li> 
        <a href="/api/albums/{{../artist.id}}">{{this.title}}</a>
      </li>
    {{/each}}
  </ul>




