

<div id="hero">
  <h1>{{artist.name}}</h1>
  <h2>List of Albums:</h2>
  <ul>
    {{#each artist.albums}}
      <li> 
        <a href="/api/albums/{{../artist.id}}">{{this.title}}</a>
      </li>
    {{/each}}
  </ul>
</div>



