body{
    font-family: 'Antonio', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#logo{
    align-items: center;
    text-align: center;
    margin: 20px 0 ;
    font-family: "Lobster", Helvetica, sans-serif;
}

#searchEngine{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

#searchEngine a{
padding-right: 10px;
font-size: 25px;
border-right: 1px solid black;
}
.searchInputBox{
    padding-left: 10px;
}

#bar{
    width: 100%;
   height: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: start;
    align-items: center;
    text-align: center;
    padding: 10px;
}

main{
    display: flex; 
    flex-direction: column;  
    min-height: 100vh; 
}

#aside{
    border-right: 1px solid black;
    background-color: #929090cb;
    height: auto;
   
}

#aside a{
   text-decoration: none;
   transition: all .15s;
    font-family: 'Bebas Neue', sans-serif; 
color:#000000;

}

#aside a:hover{
    cursor: pointer;
    text-decoration: underline;
 }
 #aside a:active{
   color: black;
 }
 #aside ul{
    margin-top: 12px;
 }

#hero{
    background-image: url(./recordbg.png);
    background-position: center;
    background-size: cover;
    align-items: center;
    display: flex;
    flex-direction: column; 
    text-align:center; 
    height: auto;
     position: relative;
    

}
#hero h2, #hero h1{
    margin-top: 20px;
    
}
#hero h3, #hero h1, #hero a{
    font-family: 'Anton', sans-serif;

}
#hero ul{
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
}

#hero ul li {
list-style-type: none;
transition: all .15s;
align-items: center;
text-align: center;
margin: 0;
}
#hero a{
text-decoration: none;
color: #000000;
font-size: 20px;
}
#hero a:hover {
font-weight: bold;
cursor: pointer;
}
#hero a:active {
text-decoration: underline;
color: #000000;
}

#innerHero{
    margin: 20px 0;
    background-color: #ffffffdc;
    box-shadow: 3px 3px 6px 5px rgba(0, 0, 255, .1);
    width: 600px;
    
  
}

#logOutButton{
margin-left: 10px;
}
footer{
    align-items: center;
    text-align: center;
    padding: 10px 0 15px 0;
    border-top: 1px solid #000000;
    
}
@media (max-width: 1006px) {
    #innerHero{
    
        width: 400px;
        
      
    }}

    @media (max-width: 930px) {
        #innerHero{
        
            width: 350px;
            
          
        }}

@media (max-width: 842px) {
#innerHero{

    width: 300px;
    
  
}
  }
  @media (max-width: 623px) {
#innerHero{

    width: 200px;
    
  
}
  }

@media (max-width: 576px) {
  
    #aside {
      border-right: none; 
     height:auto;
     width: 100%;
    }
    #innerHero{

        width:100%;
        
      
    }

    #main-body{
display: flex;
flex-direction: column;
    }
  }

/* album-details css */ 
#reviewForm{
    margin-bottom: 20px;
    padding:10px;
}

#reviewSubmitButton{
    margin-top: 10px;
}

p {
    overflow-wrap: break-word;
    max-width: 100%;
    padding: 0px 10px;
  }

  #imageUpload{
    margin-bottom: 20px;
  }

#albumArtImg {
    margin: 20px 0;
}

#reviewText {
    font-size: 25px;
}