body{
    font-family: 'Antonio', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#logo{
    align-items: center;
    text-align: center;
    margin: 20px 0 ;
    font-family: "Lobster", Helvetica, sans-serif;
}

#searchEngine{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

#searchEngine a{
padding-right: 10px;
font-size: 25px;
border-right: 1px solid black;
}
.searchInputBox{
    padding-left: 10px;
}

#bar{
    width: 100%;
   height: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: start;
    align-items: center;
    text-align: center;
    padding: 10px;
}

main{
    display: flex; 
    flex-direction: column;  
    min-height: 100vh; 
}

#aside{
    border-right: 1px solid black;
    background-color: #929090cb;
    height: 100vh;
   
}

#aside a{
   text-decoration: none;
   transition: all .15s;
font-family: 'Bebas Neue', sans-serif; 
color:#000000;
}

#aside a:hover{
    cursor: pointer;
    text-decoration: underline;
 }
 #aside a:active{
   color: black;
 }
 #aside ul{
    margin-top: 12px;
 }

#hero{
    background-image: url(./recordbg.png);
    background-position: center;
    background-size: cover;
    align-items: center;
    display: flex;
    flex-direction: column; 
    text-align:center; 
    height: 100vh;
    

}
#hero h2{
    margin-top: 20px;
    
}
#hero h3, #hero h1, #hero a{
    font-family: 'Anton', sans-serif;

}

#hero ul li {
list-style-type: none;
transition: all .15s;

}
#hero a{
text-decoration: none;
color: #000000;
font-size: 20px;
}
#hero a:hover {
font-weight: bold;
cursor: pointer;
}
#hero a:active {
text-decoration: underline;
color: #000000;
}

#innerHero{
    margin: 20px 0;
    background-color: #ffffffdc;
    box-shadow: 3px 3px 6px 5px rgba(0, 0, 255, .1);
    width: 50vw;   
  
}
footer{
    align-items: center;
    text-align: center;
    padding: 10px 0 15px 0;
    border-top: 1px solid #000000;
    
}

/* album-details css */

@media (max-width: 576px) {
  
    #aside {
      border-right: none; 
     height:auto;
     width: 100%;
    }

    #main-body{
display: flex;
flex-direction: column;
    }
  }

 