<div id="header">
    <div id="logo">
        <h1>&#9835;Rhythm Review&#9836;</h1>
    </div>
    <div id="bar">
        <div id="searchEngine">
            <form class="d-flex searchInputBox" role="search">
                <input class="form-control me-2" type="search" placeholder="Enter Artist or Album" aria-label="Search">
                <button class="btn btn-outline-primary" type="submit">Search</button>
            </form>
        </div>
        <div>
            <button type="button" id="signUpButton" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#signUpModal">Sign Up</button>
            <button type="button" id="logInButton" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#logInModal">Log In</button>
        </div>
    </div>
</div>